:root {
  --primary-color: #3c3c3c;
  --secondary-color: #818181;
  --background-color: #eff1f7;
  --color-white: #fff;
  --background-gradient: linear-gradient(
    25deg,
    rgb(239 241 247 / 100%) 0%,
    rgb(255 255 255 / 100%) 100%
  );
  --card-shadow: 0 8px 24px 0 rgba(149, 157, 165, 0.2);
}

body {
  align-items: center;
  background: var(--background-color);
  background: var(--background-gradient);
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: var(--card-shadow);
  color: var(--secondary-color);
  display: flex;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 4.6rem;
}

.card__header h1 {
  color: var(--primary-color);
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin: 0;
}

.card__body {
  line-height: 1.15rem;
  max-width: 27rem;
}

.card__figure {
  background-color: var(--color-white);
  margin: 0;
}

.card__footer {
  display: flex;
  gap: 0.7rem;
}

.fade-in {
  animation: fade-in 1.2s ease-out 1 forwards;
  opacity: 0;
}

.fade-in.card__header {
  animation-delay: 0.2s;
}

.fade-in.card__body {
  animation-delay: 0.7s;
}

.fade-in.card__footer {
  animation-delay: 1.2s;
}

.profile-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.social-link {
  color: var(--secondary-color);
  text-decoration: none;
}

.social-link img {
  height: 1.8rem;
  opacity: 0.6;
  transition: opacity 0.45s ease;
  width: 1.8rem;
}

.social-link img:hover {
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column-reverse;
    margin: 1.5rem;
  }

  .card__content {
    gap: 1rem;
    padding: 2.7rem;
  }

  .card__header h1 {
    font-size: 2.8rem;
    line-height: 2.4rem;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
